/* * {
    border: solid red 1px;
} */

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    min-height: 100vh;

}

ul {
    display: flex;
    list-style-type: none;
    margin: 0x;
    padding: 0px;
    gap: 10px;
}

li {
    padding-top: 10px;
    color: #E5E7EB;
}

img {
    color: #F9FAF8;
}

button {
    border-radius: 7px;
    padding: 5px 15px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
}

.white-text {
    color: #F9FAF8;
}

.grey-text {
    color: #a1a6b1;
}

.dark-background {
 background-color: #1F2937;
}

.grey-background {
    background-color: #E5E7EB;
}

.white-border {
    border: 2px solid white;
}

.header {
    /* background-color: #1F2937; */
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

.middle {
    flex: 1;
    padding-left: 10%;
    padding-right: 10%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.box1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1-left {
    flex-basis: 300px;
}

.box1-right {
    flex-basis: 500px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2 {
    text-align: center;
}

.box2-cardholder {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.img-subtext {
    max-width: 135px;
}


.box3 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box3-p {
    max-width: 550px;
    font-size: 24px;
    font-style: italic;
    font-weight: 50;
    color: #1F2937;
    text-align: left;
}

.author {
    font-size: 16px;
    font-weight: bold;
    display: block;
    text-align: right;

}

.card {
    border: solid #3882F6 2px;
    border-radius: 10px;
    width: 135px;
    height: 135px;
}

.box4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.box4-inner {
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 6px;
    gap: 50px;
    padding: 20px 80px 20px 80px;
}

.box4-inner2 {
    font-size: 15px;
}

.small-margin {
    margin: 0px;
}

.bottom-button {
    width: 120px;
    height: 20;
}